@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:wght@300&display=swap");

body {
  background-color: #7f8c8d;
  padding: 2em;
  padding-top: 0;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-family: "Alfa Slab One", cursive;
  font-weight: normal;
  color: aqua;
  letter-spacing: 1px;
}
button {
  color: cadetblue;
}
#resultDiv {
  font-family: "Alfa Slab One";
  line-height: 1em;
}
.selected {
  border-bottom: black 5px solid;
  padding: 0 0 0 0;
}
#colorDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
